/* Canvas Menu styling */

#canvas-menu {
    display: none; /* Off Screen until canvas is rendered */  
    justify-content: space-around;
    position: absolute; 
    bottom: 12%; 
    z-index: 10;
    width: 80%
}

.open-modal {

}

#back-to-main {

}