/* Canvas Menu styling */
#canvas-container {    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    cursor: crosshair;
    border: solid #E2BB2B 2px;
    border-radius: 8px;
}

#canvas-menu {
    display: none; /* Off Screen until canvas is rendered */  
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: space-between;
    z-index: 10;
    width: 35%;
    padding: 0.5em 2em;
    background: #2B2727;
    border-radius: 8px;
}

#play {
    display: none;
}
#pause {
    display: block;
}