/* Canvas Menu styling */

#main-header {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, -100%);
    border-top: solid #513E63 2px;
    border-bottom: solid #513E63 2px;
    padding: 2px 2px 6px;
    font-size: 2.25em;
    color: #E2BB2B;
}

#canvas-container {    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#background-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;    
    border: solid #E2BB2B 2px;
    border-radius: 8px;
}

#animation-canvas {
    cursor: crosshair;
    z-index: 2;
}

#canvas-menu {
    display: none; /* Off Screen until canvas is rendered */  
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: space-between;
    z-index: 10;
    width: 35%;
    padding: 0.5em 2em;
    background: #2B2727;
    border-radius: 8px;
}

#play {
    display: none;
}
#pause {
    display: block;
}