.footer-background {
    position: fixed;
    bottom: 0.5em;
    width: 98.5%;
    max-width: 1552px;
    border: 1.5px solid white;
    border-radius: 3px;
    background-color: #2d333f;
    color: #37314e;
    z-index: 15;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0 0.75em 2em;    
}

.tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.3em 1em;
    padding: 0;
    font-size: 0.9em;
    margin-top: 0.25em;
}
        
.footer-section {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 1em;
}

.footer-section-title {
    color: white;
    padding: 8px 0 4px;
    font-weight: bold;
    text-decoration: underline;
}

.footer-section-sub-title {
    color: white;
    padding: 0 8px 8px;
    font-size: 0.9em;
}

.about-me-section {
    display: flex;
}

.discover-links a {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9em;    
    padding: .15em 0;
}
.discover-links a:hover {
    font-weight: 600;
    padding-right: 0;
}

.discover-links li {
    width: 7.5em;
}

.link-button {
    fill: white;
    width: 20px;
}

.project-link {
    width: 18px;
    border-radius: 4px;
}