@import url(modal.scss);
@import url(canvas_menu.scss);

body {
    background-color: #2b2727;
    width: 100vw;
    height: 100vh;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body canvas {
    position: absolute;
    margin: 0;
    z-index: 5;
    cursor: crosshair;
}
